@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@font-face {
  font-family: SerifGothicStd;
  src: url(SerifGothicStd-black.otf);
}

header {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 25px;
}

.social-icons img {
  position: relative;
  width: 25px;
}

body {
  background-image: url(bg.jpg);
  max-width: 100vw;
  max-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: white;

  margin: 2vw 4vw 2vw 4vw;
}

.cover {
  padding-top: 700px;
}

.cover h1 {
  font-family: SerifGothicStd;
  font-size: 100px;
  top: 200px;
  margin-top: 25px;
  margin-bottom: 50px;
}

.cover h6 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
  padding-bottom: 400px;
  position: relative;
}

.solid {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px darkgray;
}

.whatwedo {
  display: grid;
  grid-template-columns: 683px 683px;

  justify-content: center;
}

.heading {
  grid-column-start: 1;
}

.whatwedo h1 {
  font-size: 44px;
  font-weight: 500;
  color: black;

  display: flex;
  justify-content: flex-end;
  padding: 0 17px 17px 17px;

  grid-column-start: 1;
}

.whatwedo p {
  font-size: 22px;
  font-weight: 300;
  color: black;

  display: flex;
  justify-content: flex-start;
  padding: 0 17px 17px 17px;
}

.roleplaytext {
  grid-column-end: 3;

  padding: 17px 17px 17px 17px;
}

.renaissancetext{
  grid-column-start: 2;
  grid-column-end: 3;

  padding: 17px 17px 17px 17px;
}

.reviews {
  display: flex;
  background: #e68f82;
  margin: auto -4vw 2vw -4vw;

  justify-content: space-evenly;
}

h2 {
  color: white;
  background: #e68f82;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  margin: auto -4vw auto -4vw;
}

.airbnb-embed-frame {
  width:410px;
  height:300px;
  margin: 1vw 0 2vw 4vw;
}

.review_grid {
  display: grid;
  grid-template-columns: 500px 500px;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-gap: 50px;

  margin: auto 4vw auto 4vw;
}

p.review_text {
  font-size: 18px;
  text-align: center;
}

.review_emoji {
  font-size: 36px;
}

.right_grid {
  grid-column-start: 2;
  grid-column-end: 3;
}

footer {
  background-color: white;
  color: black;
  align-items: center;
  margin: 1vw 0 2vw ;
}

.social-footer img {
  width: 25px;
  margin: 0 25px 0 0;
}
