@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');
@font-face {
  font-family: SerifGothicStd;
  src: url(SerifGothicStd-black.otf);
}

header {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 25px;
}

.social-icons img {
  position: relative;
  width: 25px;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: white;
  color: white;

  margin: 2vw 4vw 2vw 4vw;
}

.cover {
  padding-top: 35vh;
  padding-bottom: 15vh;

  background-image: url(bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: -10vw -4vw auto -4vw;
}

.cover h1 {
  font-family: SerifGothicStd;
  font-size: clamp(45px, 5vw, 120px);
  top: 5vh;
  margin: 10vw 4vw auto 4vw;
}

.cover h6 {
  font-size: clamp(19px, 1.5vw, 25px);
  font-weight: 300;
  margin-top: 30px;
  padding-bottom: 400px;
  position: relative;
  margin: auto 4vw auto 4vw;
}

.solid {
  grid-column-start: 1;
  grid-column-end: 3;
  border: 1px darkgray;
}

.whatwedo {
  display: grid;
  grid-template-columns: 683px 683px;

  justify-content: center;
}

.heading {
  grid-column-start: 1;
}

.whatwedo h1 {
  font-size: 44px;
  font-weight: 500;
  color: black;

  display: flex;
  justify-content: flex-end;
  padding: 0 17px 17px 17px;

  grid-column-start: 1;
}

.whatwedo p {
  font-size: 22px;
  font-weight: 300;
  color: black;

  display: flex;
  justify-content: flex-start;
  padding: 0 17px 17px 17px;
}

.roleplaytext {
  grid-column-end: 3;

  padding: 17px;
}

.renaissancetext{
  grid-column-start: 2;
  grid-column-end: 3;

  padding: 17px;
}

.reviews {
  display: flex;
  background: #e68f82;
  margin: auto -4vw 2vw -4vw;

  justify-content: space-evenly;
}

h2 {
  color: white;
  background: #e68f82;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  padding-top: 1vw;
  margin: auto -4vw auto -4vw;
}

.airbnb-embed-frame {
  width:410px;
  height:300px;
  margin: 1vw 0 2vw 4vw;
}

.review_grid {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: auto;
  grid-column-start: 1;
  grid-column-gap: 50px;

  margin: auto 4vw auto 4vw;
}

p.review_text {
  font-size: 16px;
  text-align: justify;
}

.review_emoji {
  display: grid;
  text-align: center;
  font-size: 36px;
}

.review_name {
  display: flex;
  justify-content: flex-end;
}

.center_grid {
  grid-column-start: 2;
  grid-column-end: 3;
}

.left_grid {
  grid-column-start: 3;
  grid-column-end: 4;
}

footer {
  background-color: white;
  color: black;
  align-items: center;
  margin: 1vw 0 2vw ;
}

.social-footer img {
  width: 25px;
  margin: 0 25px 0 0;
}


@media (max-width: 1555px) {
  body {
    margin: 2vw 2vw 2vw 4vw;
  }

  .whatwedo {
    grid-template-columns: 75%;

    justify-content: center;
  }

  .whatwedo h1 {
    padding: 0;
    font-size: 8vw;
    justify-content: center;
  }

  .whatwedo p {
    font-size: 4vw;
    padding: 0;
  }

  .solid {
    grid-column-end: 1;
  }

  .roleplaytext {
    grid-column-start: 1;
    grid-column-end: 1;

    padding: 17px;
  }

  .renaissancetext {
    grid-column-start: 1;
    grid-column-end: 1;

    padding: 17px;
  }

  .goestext {
    grid-column-start: 1;
  }

  .airbnb-embed-frame {
    display: none;
  }

  h2 {
    padding: 4vw;
    display: flex;
    font-size: 5vw;
  }

  .reviews {
    display: grid;
  }

  p.review_text {
    font-size: 4vw;
  }

  .review_grid {
    justify-content: center;
    grid-template-columns: 75%;
  }

  .center_grid {
    grid-column-start: 1;
    grid-column-end: 1;
  }
}
